* {
    box-sizing: border-box;
}

body
{
    margin: 0;
    background-color: #96DED1;
    font-family: "Aldrich";
    overflow-y: scroll;
}

header {
    margin: 0;
}

.list-items
{
    border-radius: 2px;
    border-color: black;
}

img 
{
    border-radius: 60%;
}

li
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.table1
{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table-lang-skills
{
    border-collapse: collapse;
}

.table-lang-skills tr:nth-child(2n-1)
{
    background-color: aquamarine;
}

.table-lang-skills tr:nth-child(2n)
{
    background-color: blueviolet;
}

.table-lang-skills tr td
{
    text-align: center;
    padding: 0.5rem;
}

footer
{
    background-color: white;
}

.list-items ol li:hover
{
    color: rgb(230, 41, 41);
}

.table1 td:nth-child(2)
{
    background-color: rgb(151, 226, 121);
}

.inline-elements div
{
    display: inline-block;
}
.inline-elements div:nth-child(2) tr
{
    margin-top: 0%;
}
.front-tech
{
    border: 1px;
    border-color: black;
}

.nav-bar-sticky {
    background-color: #2b4629;
    text-align: right;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; color: #bfbfbf; }
a:active { text-decoration: none; }

img {
    float: left;
    background-color: #3f3f3f;
}

.fullname {
    clear:left;
    margin-top: 3rem;  
}

.main-content {
    margin-left: 8px;
    margin-right: 8px;  
}

header {
    position: sticky;
    top: 0%;
}

.nav-bar {
    overflow: hidden;
    display: inline-flex;
    background-color: #088F8F;
    width: 100%;
    height: 30px;
    column-gap: 5px;
}

.nav-bar a {   
    vertical-align: middle;
    text-align: center;
    color: whitesmoke;
    padding: 5px 10px;
}
.nav-bar a:hover{
    background-color: #5F9EA0;
    transition: 0.3s;
}
.nav-bar select{
    background-color: #088F8F;
    border: 0;
    outline: none;
    color: whitesmoke;
    font-family: 'Aldrich';
    font-size: 16px;
    appearance: none;
    margin-left: auto;
    padding: 5px 10px;
}
.nav-bar select:focus{
    border: none;
    outline: none;
}
.nav-bar select:hover {
    background-color: #5F9EA0;
}

option {
    background-color: #088F8F;
    padding: 10px 5px;
    color: whitesmoke;
}

option:hover{
    background-color: #5F9EA0;
}